h1 {
    color:red
}
input{
    color:red;
    background-color: linen;
    border-color: red;
    border-radius: 4px;
}
.a {
    color:green
}
.b {
    color:yellow
}
.c {
    color:red
}
a:link {
    color:skyblue
}
a:visited {
    color:skyblue
}
a:hover {
    color:rgba(255, 0, 0, 0.936)
}
a:active {
    color:rgba(255, 0, 0, 0.608)
}
body {
    background-color:linen
}
